<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite">

	<test name="Regression test on Chrome">
		<parameter name ="browser" value="chrome"></parameter>
		<classes>
			<class name="automation.testsuite.Day18_BTVN_Bepantoan" />
			<class name="automation.testsuite.Day18_BTVN_Dienmay" />
		</classes>	
	</test>

	<test name="Regression test on Edge">
		<parameter name ="browser" value="edge"></parameter>
		<classes>
			<class name="automation.testsuite.Day18_BTVN_Bepantoan" />
			<class name="automation.testsuite.Day18_BTVN_Dienmay" />
		</classes>
	</test>

	<test name="Regression test on Firefox">
		<parameter name ="browser" value="firefox"></parameter>
		<classes>
			<class name="automation.testsuite.Day18_BTVN_Bepantoan" />
			<class name="automation.testsuite.Day18_BTVN_Dienmay" />
		</classes>
	</test>


</suite> <!-- Suite -->